html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: black;
  text-decoration: none;
}

th {
    border: solid 1px gray;
    background-color: beige;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}

td,th{
    border-bottom:1px solid gray;
}

tr:hover, .selected {
    background-color:silver;
}

td {
    font-size: small;
    border: solid 1px lightgray;
}